/*made by itsmeevil*/

/* All */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

/* Html */
html {
	font-size: 10px;
}

/* Body */
body {
	background-color: #ffdee9;
	background-image: linear-gradient(0deg, #ffdee9, #b5fffc);
	color: black;
	text-align: center;
	overflow: hidden;
	height: 670px;
}

/* Scrollbar */
::-webkit-scrollbar {
	width: 10px;
	background-color: white;
}

::-webkit-scrollbar-thumb {
	background-color: #ffdee9;
}

/* Card */
.card {
	background-color: whitesmoke;
	border-radius: 20px;
	width: 300px;
	margin: 120px auto;
	padding: 40px 10px;
	transition: 0.3s ease;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.card:hover {
	transform: scale(1.05);
}

/* Image / Profile */
.pic img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin: 10px;
	transition: 0.3s ease;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.pic img:hover {
	transform: scale(1.03);
}

/* H1 / Name */
.name h1 {
	color: black;
	font-size: 4rem;
	text-decoration: none;
}

/* P / Decsription */
.description p {
	font-size: 2rem;
}

/* Social Media / Contacts */
.sm {
	display: flex;
	justify-content: center;
	margin: 15px 0px 5px 0px;
}
.sm a {
	color: black;
	width: 50px;
	font-size: 2.5rem;
	text-decoration: none;
	transition: 0.3s ease;
}
.sm a:hover {
	color: #f1a8c0;
	transform: scale(1.2);
}
