/*made by itsmeevil*/

* {
	margin: 0;
	position: 0;
	box-sizing: border-box;
}

body {
	background-color: white;
	color: black;
	font-family: monospace;
	text-align: center;
	padding: 120px 0;
	overflow: hidden;
}

img {
	width: 220px;
	height: 220px;
	border-radius: 50%;
	margin: 10px;
}

h1 {
	color: black;
	font-size: 50px;
	text-decoration: none;
}

p {
	font-size: 30px;
	padding: 5px;
}

.sm {
    display: flex;
    justify-content: center;
    margin: 18px 0;
}
.sm a {
    color: black;
    width: 35px;
	font-size: 27px;
	text-decoration: none;
}
.sm a:hover {
	color: blue;
}