/*made by itsmeevil*/

/* All */
* {
	margin: 0;
	position: 0;
	box-sizing: border-box;
}

/* Html */
html {
	font-size: 10px;
}

/* Body */
body {
	background-color: white;
	color: black;
	font-family: monospace;
	text-align: center;
	padding: 12rem 0;
	overflow: hidden;
}

/* Image / Profile */
img {
	width: 20rem;
	height: 20rem;
	border-radius: 50%;
	margin: 1rem;
	transition: 0.3s ease;
}
img:hover {
	transform: scale(1.03);
}

/* H1 / Name */
h1 {
	color: black;
	font-size: 4.5rem;
	text-decoration: none;
}

/* P / Decsription */
p {
	font-size: 2.5rem;
	padding: 0.5rem;
}

/* Social Media / Contacts */
.sm {
	display: flex;
	justify-content: center;
	margin: 1.5rem 0;
}
.sm a {
	color: black;
	width: 5rem;
	font-size: 2.5rem;
	text-decoration: none;
	transition: 0.3s ease;
}
.sm a:hover {
	color: blue;
	transform: scale(1.2);
}
