/* made by itsmeevil */

/* variables */
:root {
    /* light theme */
    --bg: #ece4d7;
    --fg: black;
}

/* dark theme */
.dark-theme {
    --bg: #201e21;
    --fg: #ece4d7;
}

/* all */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    outline: none;
    user-select: none;
    text-decoration: none;
}

/* body */
body {
    height: 100vh;
    background: linear-gradient(to top right, #17333e, #1d898c);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* light/dark theme switch */
#switch {
    position: absolute;
    top: 10px;
    right: 10px;
    -webkit-appearance: none;
    width: 80px;
    height: 40px;
    background-color: #cecac5;
    border-radius: 25px;
    border: 4px var(--bg) solid;
    transition: 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}
#switch:checked {
    background-color: #239a9e;
}
#switch:hover,
#switch:focus {
    background-color: #b9b7b3;
}
#switch:hover:checked,
#switch:focus:checked {
    background-color: #177a7e;
}
#switch::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: var(--bg);
    transition: 0.3s ease;
}
#switch:checked::before {
    left: 42px;
    background-color: var(--bg);
}
#switch::after {
    content: url(/assets/img/light.svg);
    position: absolute;
    top: 6px;
    left: 5.5px;
    transition: 0.3s ease;
}
#switch:checked::after {
    content: url(/assets/img/dark.svg);
    top: 6px;
    left: 46px;
}

/* card */
.card {
    background-color: var(--bg);
    height: 400px;
    width: 300px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.3s ease;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}
.card:hover {
    transform: scale(1.02);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 25px;
}

/* pfp */
.pic img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-bottom: 15px;
    transition: 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}
.pic img:hover {
    transform: scale(1.02);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 25px;
}

/* name */
.name h1 {
    font-size: 45px;
    color: var(--fg);
    transition: 0.3s ease;
}

/* description */
.description p {
    font-size: 23px;
    color: var(--fg);
    transition: 0.3s ease;
}

/* social media icons */
.sm {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.sm a {
    color: var(--fg);
    margin: 0 10px;
    font-size: 27px;
    transition: 0.3s ease;
}
.sm a:hover,
.sm a:focus {
    color: #1d898c;
    transform: scale(1.25);
}

/* footer */
footer {
    font-size: 13px;
}
.copyright {
    position: absolute;
    right: 5px;
    bottom: 5px;
}
.copyright a {
    padding-right: 5px;
    color: #ece4d7;
}
.copyright a:hover,
.copyright a:focus {
    text-decoration: underline;
}
