/* made by itsmeevil */

/* all */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    outline: none;
    user-select: none;
    text-decoration: none;
}

/* body */
body {
    height: 100vh;
    background: linear-gradient(to top right, #17333e, #1d898c);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* card */
.card {
    background-color: #ece4d7;
    height: 400px;
    width: 300px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.3s ease;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}
.card:hover {
    transform: scale(1.02);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 25px;
}

/* pfp */
.pic img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-bottom: 15px;
    transition: 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}
.pic img:hover {
    transform: scale(1.02);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 25px;
}

/* name */
.name h1 {
    font-size: 45px;
}

/* description */
.description p {
    font-size: 23px;
}

/* social media icons */
.sm {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.sm a {
    color: black;
    margin: 0 10px;
    font-size: 27px;
    transition: 0.3s ease;
}
.sm a:hover,
.sm a:focus {
    color: #1d898c;
    transform: scale(1.25);
}

/* footer */
footer {
    font-size: 13px;
}
.copyright {
    position: absolute;
    right: 5px;
    bottom: 5px;
}
.copyright a {
    padding-right: 5px;
    color: #ece4d7;
}
.copyright a:hover,
.copyright a:focus {
    text-decoration: underline;
}
