/* made by itsmeevil */

/* all */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */
body {
    min-height: 100vh;
    background: linear-gradient(to top right, #b5fffc, #ffdee9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
}

/* card */
.card {
    background-color: whitesmoke;
    height: 400px;
    width: 300px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.3s ease;
    z-index: 2;
}
.card:hover {
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 25px;
}

/* pfp */
.pic img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 10px;
    transition: 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}
.pic img:hover {
    transform: scale(1.03);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 25px;
}

/* name */
.name h1 {
    font-size: 45px;
}

/* description */
.description p {
    font-size: 23px;
}

/* social media icons */
.sm {
    display: flex;
    justify-content: center;
    margin: 15px 0 5px;
}
.sm a {
    color: black;
    outline-color: #f1a8c0;
    padding: 5px 10px;
    font-size: 25px;
    transition: 0.3s ease;
}
.sm a:hover,
.sm a:focus {
    color: #f1a8c0;
    transform: scale(1.2);
}

/* footer */
footer {
    font-size: 13px;
}
.copyright {
    position: absolute;
    right: 5px;
    bottom: 5px;
}
.copyright a {
    padding: 0 3px;
    text-decoration: none;
    color: black;
}
